html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  @include font($font-base-size, 400);
  color: $black;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

.layout-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}
