#data-drupal-messages {
  position: fixed;
  z-index: 99;
  top: 160px;
  right: 15px;
  max-width: 620px;
  width: 100%;

  .alert {
    box-shadow: 0px 5px 10px rgba($black, 0.25),
               -2px 0px 3px rgba($black, 0.25) !important;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    background-color: $white;
    box-shadow: none;
    border-radius: 4px;
    padding: 1rem 4rem 1rem 2rem;
    margin: 0;
    color: $dark;
    min-height: 61px;
    margin-bottom: 1rem;

    @media (min-width: $screen-xl) {
      min-width: 600px;
    }

    &.alert-danger {
      border-color: $black $black $black #C31633;
    }

    &.alert-success {
      border-color: $black $black $black #2D9B44;
    }

    &.alert-warning {
      border-color: $black $black $black #EE7023;
    }

    & > ul {
      margin-bottom: 0;

      & > li {
        @include font(16px, 500);

        & + li {
          margin-top: 0.5rem;
        }
      }
    }

    & p {
      @include font(16px, 500);
    }

    & .close {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      z-index: 2;
      padding: 0;
      border: none;
      border-radius: 50%;
      background-color: transparent;
      color: $black;
      font-size: 18px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      .bi {
        line-height: 0;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: $black;
        color: $white;
      }
    }
  }
}
