// Base colors

$white:                   #ffffff;
$black:                   #000000;
$dark:                    #333333;
$light:                   #f2f2f2;
$grey:                    #999999;

// Breakpoints

$screen-sm:               576px !default;
$screen-md:               768px !default;
$screen-lg:               992px !default;
$screen-xl:               1200px !default;
$screen-xxl:              1400px !default;
$screen-3xl:              1600px !default;
$screen-4xl:              1800px !default;
$screen-5xl:              2000px !default;

// Radius

$radius:                  5px !default;

// CSS Grid

$gap:                     1.5rem;

// Typography

$font-base-size:          16px;
