.main-menu {

  nav > ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;

    @media (min-width: $screen-xl) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    li {
      padding: 1rem 1rem;
      text-align: center;

      a {
        color: $white;
        @include font(16px, 700);

        &:hover,
        &:focus,
        &:active {
          text-shadow: 0 0 0.65px $dark, 0 0 0.65px $dark;
        }
      }
    }
  }
}
