#menu-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: none;
  background-color: $white;
  color: $dark;
  text-align: center;
  box-shadow: 0px 1px 6px rgba($black, 0.5);
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;

  &:after {
    content: "\F479";
    font-family: 'bootstrap-icons';
    font-size: 1.5rem;
  }

  &.active {

    &:after {
      content: "\F659";
    }
  }

  @media (min-width: $screen-xl) {
    display: none;
  }
}
